<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <div class="container">

        <p></p>
        <div class="row align-items-center justify-content-center">
                <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="city" [(ngModel)]="city">
                      <button (click)=handleSearch() class="btn btn-outline-success my-2 my-sm-0 text-white bg-success" type="button">Search</button>
                 </form>
        </div>

        <p></p>
        <div class="p-5 row align-items-center justify-content-center">
            <img *ngIf="checkIfWeatherExists()" src="{{icon}}">
            <h3 *ngIf="checkIfWeatherExists()" class="text-secondary m-3">{{description}}</h3>
        </div>
        <div class="p-5 row align-items-center justify-content-center">
            <h5 *ngIf="checkIfWeatherExists()" class="text-info">Temperature : </h5>
            <h3 *ngIf="checkIfWeatherExists()" class="text-secondary m-3">{{temperature}} &#8451;</h3>
        </div>
        <div class="p-5 row align-items-center justify-content-center">
            <h5 *ngIf="checkIfWeatherExists()" class="text-info">Wind : </h5>
            <h3 *ngIf="checkIfWeatherExists()" class="text-secondary m-3">{{windSpeed}} km/h</h3>
        </div>
        <div class="p-5 row align-items-center justify-content-center">
            <h5  *ngIf="checkIfWeatherExists()" class="text-info">Humidity : </h5>
            <h3  *ngIf="checkIfWeatherExists()" class="text-secondary m-3">%{{humidity}}</h3>
         </div>
         <div class="p-5 row align-items-center justify-content-center">
            <h5 *ngIf="checkIfWeatherExists()" class="text-info">Pressure : </h5>
            <h3 *ngIf="checkIfWeatherExists()" class="text-secondary m-3">{{pressure}} hPa </h3>
        </div>

    </div>
